<h3 class="header">Categorias</h3>        
        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="<%= asset_path  'turismo.png' %>">                      
                        <a class="btn-floating halfway-fab waves-effect waves-light indigo darken-1"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <a href="#"><h4>Turismo</h4></a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="<%= asset_path  'restaurantes.png' %>">                        
                        <a href="categoria-detalle.html" class="btn-floating halfway-fab waves-effect waves-light indigo darken-1"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <a href="categoria-detalle.html"><h4>Restaurantes</h4></a>
                    </div>
                </div>
            </div>            
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="<%= asset_path  'servicios.png' %>">
                        <a class="btn-floating halfway-fab waves-effect waves-light indigo darken-1"><i class="material-icons">add</i></a>
                    </div>
                    <div class="card-content">
                        <a href="#"><h4>Servicios</h4></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="<%= asset_path  'eventos.png' %>">
                            <a class="btn-floating halfway-fab waves-effect waves-light indigo darken-1"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <a href="#"><h4>Eventos</h4></a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="<%= asset_path  'entretenimiento.png' %>">
                            <a class="btn-floating halfway-fab waves-effect waves-light indigo darken-1"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <a href="#"><h4>Entretenimiento</h4></a>
                        </div>
                    </div>
                </div>            
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="<%= asset_path  'transporte.png' %>">
                            <a class="btn-floating halfway-fab waves-effect waves-light indigo darken-1"><i class="material-icons">add</i></a>
                        </div>
                        <div class="card-content">
                            <a href="#"><h4>Transporte</h4></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img src="<%= asset_path  'compras.png' %>">
                                <a class="btn-floating halfway-fab waves-effect waves-light indigo darken-1"><i class="material-icons">add</i></a>
                            </div>
                            <div class="card-content">
                                <a href="#"><h4>Compras</h4></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img src="<%= asset_path  'salud.png' %>">
                                <a class="btn-floating halfway-fab waves-effect waves-light indigo darken-1"><i class="material-icons">add</i></a>
                            </div>
                            <div class="card-content">
                                <a href="#"><h4>Salud</h4></a>
                            </div>
                        </div>
                    </div>            
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img src="<%= asset_path  'entidades.png' %>">
                                <a class="btn-floating halfway-fab waves-effect waves-light indigo darken-1"><i class="material-icons">add</i></a>
                            </div>
                            <div class="card-content">
                                <a href="#"><h4>Entidades</h4></a>
                            </div>
                        </div>
                    </div>
                </div>
